/* Basics */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Roboto, sans-serif;
}

/* Header Styles */
#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    max-height: 10%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 200px;
    margin: 0;
    background-color: #1f2937;
    color: white;
}

.headerlogo {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 24px;
}

.navlinks {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.headerlogo a:link, a:hover, a:visited {
    color: #f9faf8;
    text-decoration: none;
}

.navlinks a:link, a:visited {
    color: #e5e7eb;
    text-decoration: none;
}

.navlinks a:hover {
    color: #819DC5;
    font-weight: bold;
    text-decoration: none;
}

/* Intro Styles */
#intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 150px 200px 100px;
    background-color: #1f2937;
    color: white;
}

.introtext {
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow: wrap;
}

.introtext h1 {
    font-size: 48px;
    font-weight: 800px;
    color: #f9faf8;
}

.introtext p {
    font-size: 18px;
    color: #e5e7eb;
}

.introimg {
    display: flex;
    background-color: gray;
    width: 50%;
    height: relative;
}